@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

Typography {
    font-family: Dosis;
}

Test {
    text-align: left;
}

.MuiTypography-h2 {
    color: red;
    font-family: Dosis;
}